

.wrap_header {
    height: 10vw;
    max-height: 90px;
    min-height: 30px;

    background: #73c5b1;


    display: grid;
    grid-template-columns: 4fr 0fr 0fr;
    /*justify-content: space-between;*/
    /*align-items: center;*/

    box-sizing: border-box;
}

.wrap_logo {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-left: 20px;
}

.logo {
    width: 4vw;
    height: 4vw;
    max-height: 40px;
    max-width: 40px;
    min-height: 15px;
    min-width: 15px;
}

.wrap_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.wrap_menu_item {
    margin-right: 20px;
}

.menu_item_link {
    color: #575ca1;
}
.menu_item_link:active {
    color: rgba(87, 92, 161, 0.46);
}
.menu_item_link.current {
    font-weight: bold;
    color: rgba(87, 92, 161, 0.32);
}