* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background: #e7e3ff;
}

#root {
    /*position: absolute;*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/


}

.App {
    width: 80vw;
    /*max-height: 100%;*/
    /*pointer-events: none;*/
}